{% extends 'base.html' %}

{% block page_title %} New Song {% endblock %}

{% block content %}
    <h1>Add a new song!</h1>
    <form action="#" method="POST">
    <!-- Inserts the hidden generated csrf token -->
    {{ form.hidden_tag() }}
        <!-- loops over form and displays the label and input of everything except the CSRF information -->
        {% for field in form if field.widget.input_type != 'hidden' %}
            {{ field.label }}
            {{field}}
        <!-- Displays the forms message if input has a validation error. Found in forms.py -->
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
        <button>Add Song</button>
    </form>
{% endblock %}
